<h1>Um catalogo legal</h1>

<% if @contador >= 5 -%>
  <h5><i>Contador: <%= pluralize @contador, "acesso" %></i></h5>
<% end -%>

<% for produto in @produtos -%>
  <div class="entry">
    <%= link_to image_tag(produto.image_url), :method => 'POST' %>
    <h3>
      <%=h produto.titulo %>
    </h3>
    <%= produto.descricao %>
    <br />
    <div class="price-line">

      <span class="price">
        <%= number_to_currency(produto.preco, :unit => 'R$', :separator => ',') %>
      </span>

      <!--%= button_to "Adicionar no Carrinho", :action => 'add_to_carrinho', :id => produto %-->

      <% form_remote_tag :url => { :action => 'add_to_carrinho', :id => produto } do %>
        <%= submit_tag "Adicionar no Carrinho" %>
      <% end %>

    </div>
  </div>
<% end %>
